<div class="formBusqueda">
    {{input action="buscar" onkeypress="buscar" value=busqueda placeholder="Buscar..."}}
    <a {{action 'buscar' busqueda}}>
        <button class="busquedaButton">Buscar</button>
    </a>
</div>
<br>
<div class={{loading}}></div>
<br>
<table>
    {{#if search}}
        {{#each movies as |Movie index|}}
            <tr>
                <td class= "movie">{{library-movie title=Movie.name url=Movie.url quality=Movie.quality search=busqueda}}</td>
            </tr>
            <br>
        {{/each}}
    {{else}}
        <h2>{{errorMessage}}</h2>
    {{/if}}
</table>